@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-std-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body.pretendard {
	font-family: "Pretendard Std", sans-serif;
}
body.nanum_gothic {
	font-family: "Nanum Gothic", sans-serif;
}

/* reply */
#rep_date > a:hover {
	color: rgb(255, 160, 122);
}

/* paging */
.paging_selected {
	--tw-bg-opacity: 1;
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
	color: white;
}

/* intersection Observe */
.intersec_toc_fixed {
	top: calc(15rem + 2rem);
	position: fixed;
}

.intersec_cat_fixed {
	top: calc(15rem + 1rem);
	position: fixed;
}

.toc_left_border {
	position: absolute;
	left: -12px;
	top: -6px;
	width: 2px;
	height: calc(100% + 12px);
	--tw-bg-opacity: 1;
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.toc_hovereffect:hover {
	--tw-border-opacity: 1;
	color: rgb(17 24 39 / var(--tw-border-opacity));
}

/* 카테고리 사이드바 디자인 */
.tt_category {
	padding: 8px 0;
}
.tt_category a {
	font-size: 0.8rem;
	line-height: 1.5rem;
}
.tt_category a > img {
	display: none !important;
}
/* .tt_category a > img {
	height: 10px !important;
} */
.sub_category_list {
	padding-left: 8px;
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity));
}

.tt_category .c_cnt {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity));
}

/* 파머넌트 디자인 */
.article_content h2 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	margin: 38px 0 !important;
}

.article_content h3 {
	font-size: 2.2rem;
	font-weight: bold;
	line-height: 1.8rem;
	margin: 38px 0 !important;
}

.article_content h4 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.8rem;
	margin: 38px 0 !important;
}

.article_content p {
	line-height: 1.8rem;
	font-size: 1.125rem;
	overflow: hidden;
	margin: 18px 0 !important;
}

.article_content p > a {
	font-size: 1.125rem;
	color: #056dd7;
}

.article_content ul {
	margin: 16px 0 16px 32px;
}

.article_content ul > li {
	margin: 12px 0;
}

.article_content ol {
	margin: 16px 0 16px 32px;
}

.article_content ol > li {
	margin: 12px 0;
}

.article_content pre {
	margin: 14px 0;
}

.article_content blockquote {
	padding: 16px;
	margin: 18px 0;
	padding-left: 28px;
	border-left: 3.5px solid;
	--tw-bg-opacity: 1;
	background-color: rgb(248 250 252 / var(--tw-bg-opacity)); /* bg-slate-50 */
}

.article_content figure {
	margin: 22px 0 !important;
}

/* 코드블럭 디자인 - A11y Dark */
.code_wrapper {
	position: absolute;
	display: flex;
	top: 14px;
	left: 14px;
	z-index: 10;
}

.code_dot {
	margin-right: 7px;
	width: 13px;
	height: 13px;
	border-radius: 9999px;
}

.code_red {
	background-color: #ff5f55;
}
.code_yellow {
	background-color: #ffbd2e;
}
.code_green {
	background-color: #26c93f;
}

.hljs {
	position: relative;
	padding: 12px 22px 18px 16px !important;
	font-size: 0.875rem !important;
	background-color: #1e1e1e !important;
	border-radius: 5px !important;
	color: #f8f8f2 !important;
}

.hljs-keyword {
	color: #ffa07a !important;
}
.hljs-comment {
	color: #d4d0ab !important;
}
.hljs-number {
	color: #dcc6e0 !important;
}

.hljs-function {
}
.hljs-title {
}
.hljs-string {
	color: #ffd700 !important;
}
.hljs-literal {
}
.hljs-built_in {
	color: #00e0e0 !important;
}
.hljs-params {
	color: #ffd700 !important;
}
.hljs-attribute {
	color: #abe338 !important;
}
.hljs-tag {
	color: #dcc6e0 !important;
}
.hljs-name {
	color: #dcc6e0 !important;
}
