@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-family: "Nanum Gothic", sans-serif;
	font-family: "Poppins", sans-serif;
}

/* 카테고리 사이드바 디자인 */
.tt_category {
	padding: 8px 0;
}
.tt_category a {
	font-size: 0.8rem;
	line-height: 1.5rem;
}
.tt_category a > img {
	display: none !important;
}
/* .tt_category a > img {
	height: 10px !important;
} */
.sub_category_list {
	padding-left: 8px;
}

/* 파머넌트 디자인 */
.article_content h2 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	margin: 32px 0 !important;
}

.article_content h3 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	margin: 32px 0 !important;
}

.article_content h4 {
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 1.8rem;
	margin: 32px 0 !important;
}

.article_content p {
	line-height: 1.8rem;
	font-size: 1.125rem;
	overflow: hidden;
	margin: 12px 0 !important;
}

.article_content p > a {
	font-size: 1.125rem;
	color: #056dd7;
}

.article_content ul {
	margin-left: 32px;
	margin-bottom: 16px;
}

.article_content ol {
	margin-left: 32px;
	margin-bottom: 16px;
}

.article_content blockquote {
	padding: 16px;
	margin: 16px 0;
	padding-left: 28px;
	border-left: 3px solid;
}

.article_content figure {
	margin: 22px 0 !important;
}

/* 코드블럭 디자인 - A11y Dark */
.code_dot {
	margin-right: 3px;
	height: 14px;
	width: 14px;
	border-radius: 9999px;
}

.code_red {
	background-color: #ff5f55;
}
.code_yellow {
	background-color: #ffbd2e;
}
.code_green {
	background-color: #26c93f;
}

.hljs {
	position: relative;
	padding: 58px !important;
	font-size: 0.875rem !important;
	background-color: #1e1e1e !important;
	border-radius: 5px !important;
	color: #f8f8f2 !important;
}

.hljs-keyword {
	color: #ffa07a !important;
}
.hljs-comment {
	color: #d4d0ab !important;
}
.hljs-number {
	color: #dcc6e0 !important;
}

.hljs-function {
}
.hljs-title {
}
.hljs-string {
	color: #ffd700 !important;
}
.hljs-literal {
}
.hljs-built_in {
	color: #00e0e0 !important;
}
.hljs-params {
	color: #ffd700 !important;
}
.hljs-attr {
	color: #abe338 !important;
}
